app store/1_SearchResults
app store/2_AppList
app store/3_AppContent
app store/node_modules
app store/app_meta.json
app store/app_metaAndContent.json
app store/push_api.json
scenario builder/node_modules